#edit-review__container {
    display: flex;
    border-bottom: 1px solid rgba(104, 104, 104, 0.15);
    padding: 15px 0 10px 0;
}


#edit-review__form {
    display: flex;
    width: 100%;


}


.edit-review__label {
    font-size: 13px;
}

#edit-review__comment-and-rating {
    width: 100%;
}

.error-container.edit-review, .error-container.review{
    margin-bottom: 10px;
    font-size: 12px;
    color: red
}


#edit-review__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
