#splash__container {
    width: 100%;
    height:100%;
    /* padding: none;
    margin: none; */
}

div#splash__container * {
    background-color: rgba(227, 57, 0, 0.042);
    background-color: rgb(71, 71, 163);
    background-color: rgba(75, 84, 101, 0.083);

}

div#splash__container div#splash__image img{
    width: 100%;
    object-fit: contain;
    height: inherit;
    animation-name: fade;
    animation-duration: 2s;
}




@keyframes fade {
    0%   {opacity: 0.05}
    2%  {opacity: .25}
    4% {opacity: .5}
    6% {opacity: .75}
    8% {opacity: 1}
    92% {opacity: 1}
    94%  {opacity: .75}
    96%  {opacity: .5}
    98%  {opacity: .25}
    100% {opacity: 0;}
  }
