
#audio__player {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: rgb(82, 82, 169);
    background-color: rgba(82, 82, 169, 0.5);
    border-radius: 4px;
    padding: 20px 0;

}




.audio__title {
    margin: 12px 0;
    color: white;
    /* margin-top: 10px; */
}

.audio__title__first {
    margin: 0 0 12px 0;
    color: white;

}
