.rating-star {
    color: grey;
}


/* .five:hover {
    color: rgb(82, 82, 169);
}

.four:hover {
    color: rgb(82, 82, 169);
}

.three:hover {
    color: rgb(82, 82, 169);
}

.two:hover {
    color: rgb(82, 82, 169);
}

.one:hover {
    color: rgb(82, 82, 169);
} */
