
.navbar {

    width: 100%;
	max-width: 1300px;
	height: 70px;

	background-color: rgb(255, 255, 255);
	border-bottom: 1px solid rgb(227, 227, 227);

	position: fixed;
	top: 0;
	z-index: 10;
	/* box-shadow: rgba(0, 0, 0, 0.035) 0px 5px 5px; */
}



.navbar-container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;

}


.nav__left {
	/* width: 340px; */
    width: 100%;

    padding-left: 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.nav__right {
    /* width: 340px; */
    height: 100%;
    width: 100%;
    padding-right: 20px;

    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: flex-end;
    align-items: center;
}

.logo-wrapper {
	height: 100%;
	display: flex;
	align-items: center;
    padding-right: 10px;
}
.nav__logo {
	width: 120px;
}



.nav__buttons {
	font-size: 14px;
	display: flex;
    gap: 25px;
	justify-content: flex-end;
}

.nav__buttons * { cursor: pointer }


.nav-icon__container {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: color .14s ease-in-out;
}

.nav-icon__container:hover {
    color: #E33700;
}

.nav-icon {
    font-size: 20px;

}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}



#location__container {
    border-left: 1px solid rgb(224, 224, 224);
    padding: 10px;
    color:rgb(91, 91, 91);
    display: flex;
    align-items: center;

}


#location__container span {
    font-size: 12px;
    padding: 0px 10px;
}

#location__icon {
    cursor: x;
}


#signup__button, #login__button {
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 4px;
    font-weight: 600;
}

#signup__button {
    border: 1.5px solid rgb(82, 82, 169);
    color: rgb(82, 82, 169);
    background-color: transparent;
    transition: border .15s ease-in-out, color .15s ease-in-out;
}


#signup__button:hover {
    color: rgb(227,55,0);
    border: 1.5px solid rgb(227,55,0);
}

#login__button {
    color: white;
    background-color: rgb(82, 82, 169);
    border: none;
    transition: background-color .15s ease-in-out;
}

#login__button:hover {
    background-color: rgb(227,55,0);
}








@media screen and (max-width: 800px) {
    span.nav-title {
      display: none;
    }
  }
