.category__title:not(div) {
    color: rgb(70, 70, 70);
    padding: 20px 0;
    border-bottom: 1px solid rgb(218, 218, 218);
}


#category__outer-container {
    padding-bottom: 8px;
    width: inherit;
    display: flex;
    position: relative;
}


.category__container {
    height: 311px;
    height: 325px;
    display: flex;
    align-items: flex-end;
    gap: 15px;
    width: inherit;
    overflow-y: hidden;
    overflow-x: auto;

}


.category__container::-webkit-scrollbar {
    color: transparent;
    width: 0px;
}




#artist__rate {
    margin: 5px 0 10px 0;
}

#genre__container {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.genre__name {
    font-size: 12px;
    background-color: rgb(230, 230, 230);
    padding: 7px;
    border-radius: 4px;
    width: fit-content;
}


#scroll-left__button, #scroll-right__button {
    position: absolute;
    bottom: 153px;
    z-index: 5;
}

.scroll__button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    border-radius: 50px;
    border: 1px solid rgb(217, 217, 217);
    width: 42px;
    height: 42px;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: border .05s ease-in-out;
}


.scroll__button:hover {
    border: 2px solid rgba(227,55,0,1);
}



#scroll-left__button {
    left: -20px;
}

#scroll-right__button {
    right: -20px;
}


.view-all__link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    color: rgb(70, 70, 70);
    border-bottom: 1px solid rgb(218, 218, 218);

}


.view-all__link h2 {
    padding: 20px 0;
    margin: 0;
}
